@import '../../global.less';

.exchange-carousel-line {
    .flex-center;

    width: 100%;
}

.exchange-carousel-left {
    width: 18%;
}

.exchange-carousel-view {
    width: 64%;
    height: 100%;
}

.exchange-carousel-right {
    .flex-center;
    width: 18%;

    font-size: @font-size-big;
}