.search-item {
    height: 35px;

    border: 1px solid rgb(255,68,27);
    border-radius: 25px;
    
    margin: 10px 10px 10px 10px;

    background-color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-input {
    font-size: 18px;

    border:0 none;
    color: black;

    margin-left: 10px;
}