@import '../../global.less';

.category-line {

    margin-top: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    background: white;
}

.category-item {
    .flex-vertical-center;

    width: 33.33%;

    margin-top: 10px;
    margin-bottom: 10px;

    img {
        width: 60px;
    }

    span {
        margin-top: 10px;
    }
}